@media print {
    *,
    *:after {
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important; }
    a,
    a:visited {
      text-decoration: underline; }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: ""; }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid; }
    thead {
      display: table-header-group; }
    tr,
    img {
      page-break-inside: avoid; }
    img {
      max-width: 100% !important; }
    h1 {
  	color: #1900ff !important;
      font-size: 26px !important; }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3; }
    h2 {
  	font-size: 24px !important;
      color: #ff5500 !important;
      page-break-after: avoid; }
    h3 {
  	font-size: 22px !important;
  	color: #9e0000 !important;
      page-break-after: avoid; }
    .navbar, .global-navbar-wrapper {
      display: none; }
    .btn > .caret,
    .dropup > .btn > .caret {
      border-top-color: #000 !important; }
    .label, #course_catalog_table .lang-tag, #early_access_catalog_table .lang-tag {
      border: 1px solid #000; }
    .table {
      border-collapse: collapse !important; }
      .table td {
        background-color: #fff !important; }
      .table th {
  	  color: #ff003c !important;
        background-color: #c1f0f7 !important; }
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #ddd !important; }
    .masthead .page-header .favorite .brand .legal { display: none; }
    .progress-map { display: none; }
    .search-bar-container { display: none; }
    .navigation { display: none; }
    .course-toolbar { display: none; }
    .page-header { display: none; }
    .nav-tabs { display: none; }
    .section-title-wrapper { display: none; }
    .cert-btn-wrapper { display: none; }
    .interactive_buttons { display: none; }
    .panel-heading { display: none; }
    .feedback-toggle { display: none !important; }
    .alert {display: none !important; }
    .embed-responsive-item  { display: none !important;}
    .embed-responsive  {display: none !important;}
    .section pre {background-color: #e8fcff;}
    .userinput code {color: #009188 !important;}
    .systemitem {color: #009188 !important;}
    .command strong {color: #009188 !important;}
    .screen pre {color: #009188 !important;}
  }
